.bg {
  background-color: #363843;
}

.header {
  height: 2rem;
  padding: 1.5rem 3%;
  composes: bg;
  composes: group from '../../App/styles/helpers.css'
}

.logo {
  width: 10%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.nav {
  display: inline-block;
  vertical-align: middle;
  float: left;
  height: 100%;
  line-height: 2rem;
}

.list {
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
  float: left;
  margin-left: 1.5rem;
}

.link {
  color: #fff;
  text-transform: uppercase;
}

.avatar {
  composes: logo;
  width: auto;
  float: right;
  margin-right: 3.5rem;
  cursor: pointer;
  position: relative;
}

.avatar > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.avatar::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #9c9eab;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2rem;
  margin: auto;
}
